       /* For Desktop */
 @media (min-width: 768px) {
	.background {
		background: #f1e3b2 url("../img/presentation3.jpg") no-repeat bottom fixed;
/*		-webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%; */
		background-size: 100% 100%;
	}
}
      /* For Tablet */
@media (max-width: 768px) {
	.background {
		background: #f1e3b2 url("../img/780_home_new_1.png") no-repeat bottom fixed;
		-webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		background-size: 100% 100%;
	}
}
      /* For Mobile */
@media (max-width: 480px) {
	.background {
		background: #f1e3b2 /*url("../img/480_home_page_final_2.png")*/ no-repeat top fixed;
		-webkit-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-o-background-size: 100% 100%;
		background-size: 100% 100%;
	}
}
.otherbackground {
	background: #f1e3b2 /*url("../img/480_home_page_final_2.png")*/ no-repeat top fixed;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}
}
